[package]
name = "branca"
description = "Authenticated encrypted API tokens for Rust. A secure alternative to JWT."
version = "0.8.0"
authors = ["return"]
edition = "2018"
keywords = ["fernet", "branca", "cryptography", "aead", "xchacha20_poly1305"]
categories = ["cryptography"]
readme = "README.md"
license = "MIT"
documentation = "https://docs.rs/branca"
repository = "https://github.com/return/branca"

[badges]
travis-ci = { repository = "return/branca", branch = "master" }
maintenance = { status = "actively-developed" }

[dependencies]
base-x = "0.2.3"
byteorder = "1.2.7"
chacha20-poly1305-aead = "0.1.2"
ring = "0.13.5"

[dev-dependencies]
ring = "0.13.5"
serde = "^1.0"
serde_derive = "1.0.83"
serde_json = "1.0"

[[example]]
name = "example"
path = "test/main.rs"